<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>

    <!-- jQuery Modal -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
            integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
            crossorigin="anonymous"></script>

    <script type="text/javascript" src="js/append-logout.js"></script>

    <!-- 5.1.3 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <style>
        .card-block{
            padding-bottom: 20px;
            padding-left: 20px;
            padding-right: 20px;
            margin-bottom: 20px;
        }
        html {
            font-size: 120%;
        }
    </style>
</head>

<body>

<div class="container-fluid">
    <div class="row" style="height: 70px; display: flex; justify-content: center; align-items: center; background: #504f54">
        <div class="col-md-11">
            <h5><span class="spanAuthUserName" style="font-weight: bold; color: ghostwhite"></span>
                <span style="color: ghostwhite"> with roles: </span> <span class="spanAuthUserRole" style="color: ghostwhite"></span></h5>
        </div>
        <div class="col-md-1">
            <div class="logoutButton">

            </div>
        </div>
    </div>

    <div class="row">
        <br>
    </div>

    <div class="row">
        <div class="col-md-2">
            <ul id="userAdminTabs" class="nav nav-pills flex-column" data-tabs="tabs">

                <!-- first li added with prepend -->
                <li class="nav-item"><a class="nav-link active" href="#userTab" data-bs-toggle="tab">User</a></li>
            </ul>

        </div>

        <div class="col-md-10" style="padding-right: 50px">
            <div class="tab-content" id="userAdminTabsContent">
                <!-- ADMIN TAB -->
<!--                <div class="tab-pane active" id="adminTab">-->


<!--                </div>-->
                <!-- USER TAB -->
                <div class="tab-pane active" id="userTab">

                    <span class="fs-1" style="font-weight: 600">User profile</span>
                    <div class="fs-7 fw-bold" style="padding-left: 20px; padding-top: 15px; padding-bottom: 15px; background: ghostwhite; border: 1px solid lightblue">User's information:</div>

                    <div class="card">
                        <div class="card-block"> <hr style="margin-top: 20px; margin-bottom: 0"/>
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Name</th>
                                    <th>Age</th>
                                    <th>Role</th>
                                    <th>Email</th>
                                </tr>
                                <tbody style="border-top: none">

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    getAuthUserData();

    function getAuthUserData() {
        fetch('http://localhost:8080/api/users/authenticated-user')
            .then(resp => resp.json())
            .then(user => {
                $('.spanAuthUserName').text(`${user.email}`);
                $('.spanAuthUserRole').text(`${user.role}`);
                let tableRow = `<tr>
                             <td>${user.id}</td>
                             <td>${user.name}</td>
                             <td>${user.age}</td>
                             <td>${user.role}</td>
                             <td>${user.email}</td>
                            </tr>`

                $('.table-striped tbody').append(tableRow);

                if (user.role === 'ADMIN') {
                    $('#userAdminTabs').prepend('<li class="nav-item"><a class="nav-link" href="/admin">Admin</a></li>');
                }
            })
    }

</script>

</body>
</html>